[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
djitellopy2 = "*"
opencv-contrib-python = "*"
cli-ui = "*"
simple-pid = "*"
pandas = "*"
matplotlib = "*"
nba-api = "*"
opencv-python = "*"
pillow = "*"
tello = "*"
pyzbar = "*"

[dev-packages]

[requires]
python_version = "3.7"
